/* FONT H1 */
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

/* FONT GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* BODY */
body{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

/* HEADER AND FOOTER */
header, footer {
    background-color: #515EF6;
    color: white;
    padding: 20px;
    text-align: center;
}

h1{
    font-family: "Domine", serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
}

/* NAV-BAR */
nav ul {
    list-style: none;
    text-align: center;

}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a:hover{
    text-decoration: underline black 5px;
}

/* SECCION INICIO */
#inicio{
    text-align: center;
    font-size: 1.2em;
    color: #000000;
    font-weight: 650;
    background-color: #8B94F9;
}

#inicio img{
    width: 80%;
    margin-top: 15px;
    border-radius: 20px;
}

.parrafo-justificado{
    text-align: justify;
    margin: 0.6rem 0.6rem 0px 0.8rem;
    padding: 20px 0px 20px 0px;
    font-size: 1.5rem;
}

/* SECCION CURSOS */
#cursos{
    padding: 20px;
    background-color: #9EA6FA;
}

h2{
    text-align: center;
    margin: 0px 0px 1rem 0px;
    padding: 0.5rem;
}

.cursos-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.curso {
    text-align: center;
    margin: 10px;
}

.curso img {
    width: 300px;
    border: 5px solid #8a003b;
    border-radius: 8px;
}

.curso img:hover{
    border: 5px solid #1750a8;
}

/* SECCION RESEÑAS */
.reseñas{
    padding: 20px;
    background-color: #B1B8FB;
}

.reseñas-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.card{
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* SECCION CONTACTO */
#contacto {
    padding: 20px;
    background-color: #C5CAFC;
}

form {
    display: grid;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form textarea{
    resize: none;
}

form button {
    padding: 10px 20px;
    width: 50%;
    margin-left: 25%;
    font-size: 1rem;
    background-color: #1c761f;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* FOOTER */
footer h4{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer ul{
    margin-right: 5%;
}

footer ul li{
    display: inline;
    list-style: none;
    margin-left: 2%;
}

.social li a{
    text-decoration: none;
    color: wheat;
    font-size: 32px;
}

.social i:hover{
    font-size: 40px;
    color: rgb(47, 41, 41);
}

/* adaptación para pantallas chicas */

@media (max-width: 768px) {
    header, footer{
        background-color: #0C166E;
    }

    /* NAV-BAR */
    nav {
        margin-right: 9%;
    }

    /* SECCION INICIO */
    #inicio{
        background-color: #C8CDF9;
    }

    #inicio img{
        width: 95%;
    }

    /* SECCION CURSOS */
    .cursos-container{
        flex-direction: column;
        align-items: center;
    }

    /* SECCION RESEÑAS */
    .reseñas-container{
        grid-template-columns: 1fr;
    }

    /* SECCION CONTACTO */
    form{
        padding: 10px;
        margin-right: 5%;
    }

    form button{
        width: 100%;
        margin-left: 4%;
    }

    /* FOOTER */
    footer ul{
        margin-right: 14%;
    }

    footer ul li{
        margin-left: 5%;
    }
}